*{
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #3A9B59;
    font-family: 'Sen', sans-serif;
}
.logo{
    color: #DBF0EA;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 22px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 75%;
}
.nav-links li{
    list-style-type: none;
}
.nav-links a{
    color: #DBF0EA;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #DBF0EA;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
    
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 8px;
        height: 92vh;
        top: 8vh;
        background-color: #3A9B59;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.image1,.image2,.image3,.image4{
    align-items: center;
    border-radius: 20px;
    padding-top: 15px;
    padding: 10px;
    height: 50vh;
    width: 80vh;
    justify-content: center;

}

.image5{
    float: left;
    height: 80vh;
    width: 110vh;   
    padding-top: 25px;
}

.read-more{
    text-decoration: underline;
    color: blue;
}

.first-article,.second-article,.first-act,.second-act{
    border-style: solid;
    border-width: 6px;
    border-radius: 15px;
    border-color: #3A9B59;
    height: 75vh;
    width: 90vh;
    display: inline-block;
    justify-items: normal;
    margin: 30px;
    padding: 8px;
}
.headlines{
    border-style: solid;
    border-width: 6px;
    border-radius: 15px;
    border-color: #3A9B59;
    height: 90vh;
    width: 200vh; 
    display: inline-block;
    justify-items: normal;
    margin: 30px;
    padding: 8px
}
.headlines-title{
    float: right;
    padding-left: 4px;
}
.headlines-text{
    padding: 20px;
}

.first-article:hover, .second-article:hover{
    background-color: #DBF0EA;
    cursor: grab;
}
.first-act:hover ,.second-act:hover,.headlines:hover{
    background-color: #DBF0EA;
    cursor: grab;
}
.more-articles1, .more-articles2{
    background-color: #3A9B59;
    color: #DBF0EA;
    text-decoration: none;
    width: 10%;
    height: 10%;
    padding: 2%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom: 20%;
    border-radius: 10%;

}


.see-more{
    text-decoration: none;
    color: #DBF0EA;

}

.more-articles1:hover,.more-articles2:hover{
    cursor: grab;
}

.blog, .actualities{
    display: inline-flex;
    
}
.end-of-page{
    background-color: #3A9B59;
    width: 100%;
}
.end-of-page, .list{
    display: inline-flex;
    justify-content: space-around;
    color: #DBF0EA;
    
    
}
.first-list, .second-list{
    list-style-type: none;
    
}
.list a{
    text-decoration: none;
    color: #DBF0EA;
    
}
.donate a{
    text-decoration: none;
    color: #DBF0EA;
}